# Ignore large raw video files in the root (not assets)
*.avi
*.zip

# Ignore .mov and .mp4 ONLY in the root folder
/*.mov
/*.mp4

# Keep all images and videos inside asset folders
!images/**
!videos/**
